{% extends 'base-admin.html' %}

{% block content-area %}

<div class="">

    <div class="row">

        <div class="col-lg-12 col-md-12">

            <div class="widget mb-4">
                <div class="widget-header">

                    <div class="labels">
                        <h3 class="title text-lato">
                            All URLs
                            {% if property.property %}
                            of {{ property.property }}
                            {% endif %}</h3>
                        <span class="text-tiny text-secondary">in ascending order</span>
                    </div>

                    <div class="actions d-flex align-items-center">

                        <div class="mx-2">
                            {% if property.name %}
                            <a href="{% url 'property_scrape' property.id %}" class="btn btn-warning text-regular">
                                <i class="fad fa-sync-alt"></i> Fetch Now
                            </a>
                            {% endif %}
                        </div>

                        <div>
                            <a href="#" class="btn btn-emerald text-regular">
                                <i class="fad fa-cloud-download-alt"></i> Export
                            </a>
                        </div>

                    </div>
                </div>

                <div class="widget-content">

                    <form class="filters" method="GET"
                        style="padding: 18px;background: rgba(100, 100, 100, 0.1);border-radius: 7px;">

                        <div class="row">
                            <h4 style="font-size: 16px;">Filters</h4>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p style="font-size: 14px;">Select Coverage Type</p>
                                        <div class="form-check">
                                            <input name="coverage_type[]" class="form-check-input" type="checkbox"
                                                value="" id="filter-1">
                                            <label class="form-check-label" for="filter-1">
                                                Excluded by ‘noindex’ tag
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="coverage_type[]" class="form-check-input" type="checkbox"
                                                value="" id="filter-2">
                                            <label class="form-check-label" for="filter-2">
                                                Crawled - currently not indexed
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="coverage_type[]" class="form-check-input" type="checkbox"
                                                value="" id="filter-3">
                                            <label class="form-check-label" for="filter-3">
                                                Page with redirect
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="coverage_type[]" class="form-check-input" type="checkbox"
                                                value="" id="filter-4">
                                            <label class="form-check-label" for="filter-4">
                                                Submitted and indexed
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <p style="font-size: 14px;">Select Coverage Status</p>
                                        {% for filter in c_statuses %}
                                        <div class="form-check">
                                            <input {% if filter in coverage_status %} checked {% endif %}
                                                name="coverage_status[]" class="form-check-input" type="checkbox"
                                                value="{{ filter }}" id="c_{{ filter }}" />
                                            <label class="form-check-label" for="c_{{ filter }}">
                                                {{ filter }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p style="font-size: 14px;">Select Mobile Usability Type</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="filter-9">
                                            <label class="form-check-label" for="filter-9">
                                                Mobile-friendly pages
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="filter-10">
                                            <label class="form-check-label" for="filter-10">
                                                Not listed as mobile friendly
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <p style="font-size: 14px;">Select Mobile Usability Status</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="filter-11">
                                            <label class="form-check-label" for="filter-11">
                                                Error
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="filter-12">
                                            <label class="form-check-label" for="filter-12">
                                                Valid
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <input name="search" class="form-control" id="search" type="text"
                                    placeholder="Search URL" value="{% if search %}{{ search }}{% endif %}">
                                <input class="btn btn-primary w-100 my-2" type="submit" value="Filter">
                            </div>

                        </div>
                    </form>


                    <div class="table-responsive">
                        <table class="table table-list">
                            <thead>
                                <tr class="text-small list-header">
                                    <th scope="col">#</th>
                                    <th scope="col">URL</th>
                                    <th scope="col">Coverage Type</th>
                                    <th scope="col">Coverage Status</th>
                                    <th scope="col">Crawled</th>

                                    <th scope="col">Mobile Usablity Type</th>
                                    <th scope="col">Mobile Usablity Status</th>
                                    <th scope="col">Detected</th>

                                    <th scope="col">Crested At</th>
                                </tr>
                            </thead>
                            <tbody class="list-body text-small">
                                {% for url in urls %}
                                <tr>
                                    <th scope="row" class="text-emerald">{{ url.id }}</th>
                                    <td>{{ url.url }}</td>

                                    <td>{{ url.c_type }}</td>
                                    <td>{{ url.c_status }}</td>
                                    <td>{{ url.crawled_at|date:"m/d/y, h:ia" }}</td>

                                    <td>{{ url.mu_type }}</td>
                                    <td>{{ url.mu_status }}</td>
                                    <td>{{ url.detected_at|date:"m/d/y, h:ia" }}</td>

                                    <td>{{ url.created_at|date:"m/d/y, h:ia" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="widget-footer">

                    <div class="text-small d-flex justify-content-between align-items-center">

                        <div style="margin-left: 15px;">
                            <span>Showing Page {{ urls.number }} of {{ urls.paginator.num_pages }}</span>
                        </div>

                        <ul class="pagination justify-content-end mb-0">
                            {% if urls.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ urls.previous_page_number }}"
                                    aria-disabled="true">Prev</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">Prev</a>
                            </li>
                            {% endif %}

                            <li class="page-item disabled"><a class="page-link" href="#">{{ urls.number }}</a></li>

                            {% if urls.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ urls.next_page_number }}"
                                    aria-disabled="true">Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">Next</a>
                            </li>
                            {% endif %}
                        </ul>

                    </div>

                </div>

            </div>

        </div>
    </div>


</div>



{% endblock %}