/*------------------------------------------------------------------
[Main Stylesheet]

Project:    GSC Dashboard
Version:    0.1
-------------------------------------------------------------------*/


/* Defaults */

body {
    color: #343a40;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
.inherit-color {
    color: inherit !important;
}
a:hover {
    color: #26C994;
}
a img {
    max-width: 100%;
}
table th {
    font-weight: normal;
}

/* Overrides */

.form-switch .form-check-input {
    width: 36px;
    height: 22px;
}
.form-switch .form-check-input {
    background-position: -2px center;
    background-size: 25px;
    border-color: #E3E3E3;
}
.form-switch .form-check-input:checked {
    background-position: 12px center;
    background-size: 24px;
    background-color: #49D460;
    border-color: transparent;
}
.nav-link {
    color: #5A6474;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    border-radius: 7px;
}
.form-control:focus {
    box-shadow: none !important;
}

.page-link{
    color: #26C994;
}

label  {
    font-size: 13px;
}

/* Utilities */

.custom-button-font {
    font-size: 14px !important;
    font-weight: 500;
}

.text-regular {
    font-size: 0.875rem !important;
}

.text-small {
    font-size: 0.875rem !important;
}

.text-tiny {
    font-size: 0.75rem !important;
}

.text-normal{
    color: #646A75;
    font-size: 0.875rem !important;
}
.text-gray {
    color: #9298A3;
}
.text-white {
    color: #FFFFFF;
}
.text-emerald {
    color: #26C994;
}
a.text-emerald:hover {
    color: #11B47F;
}
.text-light-blue{
    color: #3ACBE9;
}
.text-light-red {
    color: #FF5C5C;
}

.Indexed,
.Usable {
    color: green;
}

.Excluded, .Not.listed.as.mobile.friendly, .No.longer.in.GSC {
    color: #888;
}

.Error {
    color: red;
}



/* Background Colors */

.bg-emerald {
    background-color: #26C994;
    color: #fff;
}
.bg-light-blue{
    background: #3ACBE9;
    color: #fff;
}
.bg-light-gray{
    background: #F7F7F7;
    color: #5A6474;
}
.list-icon {
    width: 45px;
    text-align: center;
    border-radius: 10px;
}


/* Button Styles */

.btn-emerald{
    color: #fff;
    background-color: #26C994;
    border-color: #77ddbb;
}
.btn-marguerite{
    background: #6973c9;
    color: #fff;
}
.btn-emerald:hover {
    color: #fff;
    background-color: #11B47F;
    border-color: #11B47F;
}
.btn.btn-outlined{
    border: 1px solid #fff;
    color: #fff;
}
.btn.btn-rounded {
    border-radius: 40px !important;
}
.btn.btn-small {
    padding: .3rem .5rem;
    font-size: .75rem;
    border-radius: .4rem;
}
.btn:hover {
    color: #fff;
    opacity: 0.8;
}


/* Page Generics */

.page-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
}
.content-area .card {
    border-radius: 10px;
    border: 1px solid #e0e0e1;
    box-shadow: 0px 0px 25px -4px rgba(3, 3, 3, 0.1);
    overflow: hidden;
}

.filter-label {
    font-size: 14px;
    font-weight: bold;
    color: #26C994;
}

/* Left Sidebar Styles*/

.wrapper .sidebar-left.with-navigation {
    position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
    width: 220px;
    padding: 1.115rem;
    background-color: #FFFFFF;
    height: 100vh;
    overflow-y: auto;
	display: flex;
	flex-direction: column;
}
.sidebar-left.with-navigation .contents-top {
    margin-bottom: 10px;
}
.nav-branding {
    margin-top: 10px;
    font-size: 20px;
    white-space: nowrap;
    color: rgb(40, 200, 150);
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.sidebar-left.with-navigation .contents-middle {
    flex: 1 1 auto;
    margin-bottom: 3rem;
}
.vertical-navigation li a {
    font-family: 'Roboto', sans-serif;
    font-size: 0.825rem;
    color: #9298A3;
    cursor: pointer;
    padding: 0.625rem 0.9375rem;
    margin: 3px 0px;
    border-radius: 3px;
}
.vertical-navigation li a:hover {
    background-color: rgba(55, 166, 89, 0.05);
    color: rgb(40, 200, 150);
    box-shadow: 0px 0px 1px 0px #E7E9EB;
}
.vertical-navigation li a.is-active {
    background-color: rgba(55, 166, 89, 0.05);
    color: rgb(40, 200, 150);
}
.vertical-navigation li .nav-link i {
    width: 26px;
    font-size: 1.05rem;
    text-align: center;
}
.vertical-navigation .nav-text {
    margin-left: 0.5rem;
}
.vertical-navigation .has-divider {
    border-top: 1px solid rgba(33, 37, 41, 0.1);
    padding-top: 10px;
    margin-top: 10px;
}


/* Content Area */

.content-area {
    min-height: 100vh;
    margin-left: 220px;
    background: #EFF0F2;
}


/* Widget CSS */

.widget {
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 5px;
    /* border: 1px solid #e0e0e1; */
    box-shadow: 0px 0px 20px -6px rgba(9, 9, 9, 0.1);
}

.widget .widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.widget .widget-header .title {
    margin-bottom: 0rem;
    font-size: 18px;
}

.widget-icon {
    font-size: 22px;
    width: 36px;
    display: flex;
    align-items: center;
}




/* Messages */

ul.messages {
    list-style: none;
    padding: 0;
    font-size: 15px;
    max-width: 450px;
    margin-left: auto;
}
ul.messages li.error {
    color: red;
}

/* Property Switch CSS */

.property-selector{
    position: relative;
    color: #6C757D;
}
.selected-property {
    display: flex;
    background: #FFF;
    border-radius: 10px;
    min-width: 186px;
    padding: 0.375rem 25px 0.375rem 0.575rem;
    cursor: pointer;
    position: relative;
    /* box-shadow: 0px 0px 4px 0px #E7E9EB; */
    border: 1px solid rgba(100, 100, 100, 0.1);
}
.selected-property::before {
    position: absolute;
    border: solid #8A919D;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 17px;
    right: 10px;
    content: ' ';
}
.selected-property::after {
    position: absolute;
    border: solid #8A919D;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 17px;
    right: 10px;
    content: ' ';
}
.selected-property .property-icon {
    font-size: 22px;
}
.selected-property .property-details{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    overflow: hidden;
}
.selected-property .property-title {
    font-size: 0.8125rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}
.selected-property .property-category {
    font-size: 0.75rem;
}
.property-selector:hover .property-list{
    display: block;
}
.property-selector .property-list {
    display: none;
    list-style: none;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(100, 100, 100, 0.1);
    position: absolute;
    width: 100%;
    z-index: 999;
    margin: 0 auto;
    min-width: 186px;
}
.property-list .property-link {
    padding: 5px 10px;
    text-decoration: none;
    color: #5A6474;
    font-weight: 500;
    font-size: 0.825rem;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.property-list .property-link:hover {
    background-color: #E7E9EB;
}


/* List Generic CSS */

.table-list tbody, .table-list td, .table-list tfoot, .table-list th, .table-list thead, .table-list tr {
    border: none;
}
.table-list .list-header th {
    text-transform: uppercase;
    color: #888;
    font-size: 14px;
}
.table-list .select-item{
    width: 2.2em;
}
.table-list th, .table-list td {
    vertical-align: middle;
}
.table-list tr {
    border-left: 3px solid transparent;
}
.table-list .list-body tr:hover {
    color: #26C994;
    border-left: 3px solid #26C994;
    cursor: pointer;
}

td a.url {
    max-width: 550px;
    display: inline-block;
}


/* Login Page */

.guest-wrapper {
    min-height: 100vh;
    background: #0B0C0D;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guest-wrapper .auth-container {
    max-width: 800px;
    width: 90%;
    padding: 0px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background-color: #c4c4c421;
    display: flex;
    color: #fff;
}
.auth-container .contents {
    padding: 60px 30px;
    text-align: center;
    max-width: 392px;
    margin: 0 auto;
}
.auth-welcome{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.text-logo-white{
    font-size: 44px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.text-logo{
    font-size: 44px;
    font-weight: 700;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}
.actions .form-select {
    /* padding: .15rem 1.25rem .15rem .15rem; */
    font-size: 0.75rem !important;
}

/* Device Responsiveness fix CSS */

@media only screen and (max-device-width : 780px) {
    .wrapper .sidebar-left.with-navigation {
        width: 60px;
        padding: 0.625rem;
    }
    .content-area {
        margin-left: 60px;
    }
    .vertical-navigation li a {
        padding: 6px 6px;
        margin: 5px 0px;
    }
    .vertical-navigation li .nav-link i {
        width: 100%;
    }
    .vertical-navigation .nav-text {
        display: none;
    }
    .selected-property {
        padding: 2px;
    }
    .selected-property::before, .selected-property::after{
        display: none;
    }
    .selected-property .property-icon img {
        width: 34px;
        height: 34px;
    }
    .selected-property .property-details{
        display: none;
    }
}



.fetch-buttons-container:hover .fetch-buttons {
    display: flex;
}


.fetch-buttons {
    background-color: #FFF;
    border: 1px solid #EEE;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    z-index: 1;
    width: 100%;
}

.fetch-buttons a {
    margin-bottom: 2px;
}

.fetch-buttons a:hover {
    color: #26C994;
}


ul.ks-cboxtags {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}
ul.ks-cboxtags li {
    display: block;
    margin-right: 5px;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(139, 139, 139, 0.1);
    color: #121212;
    border-radius: 5px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
}

ul.ks-cboxtags li label {
    padding: 2px 10px;
    cursor: pointer;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 1px solid #11B47F;
    background-color: #11B47F;
    color: #fff;
    transition: all 0.2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
    border: 1px solid #11B47F;
}



.Untagged {
    background-color: #5A6474 !important;
}

/* .Directory {
    background-color: #a9ab00 !important;
} */

.Spam {
    background-color: #ff0000 !important;
}

.gap-right {
    margin-right: 5px;
}


/* Modal */

.custom-modal-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1056;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    transition: opacity .15s linear;
    background: rgba(2, 2 ,2, 0.5);
    display: grid;
    align-items: center;
    justify-content: center;
}

.custom-modal-container label {
    font-size: 18px;
}

.btn.btn-outline-secondary {
    border: 1px solid #ced4da;
}


.tiny-widget-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow: hidden;
    color: #fff;
}

.tiny-widget {
    min-width: 80px;
    width: 100%;
    padding: 10px;
    background-color: rgba(38, 201, 148, 0.8);
    border-radius: 10px;
}

.tiny-widget .tiny-widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.tiny-widget i {
    opacity: 0.8;
}

.tiny-widget .status {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
    text-align: right;
}

.tiny-widget .title {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0px;
}

.tiny-widget .info {
    font-size: 10px;
    margin-bottom: 0px;

}



.status-td {
    text-align: center;
    width: 85px;
}

.history-dropdown-container {
    width: 110px;
    position: relative;

}
.history-dropdown {
    position: absolute;
    background: #FFF;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    display: none;
    z-index: 1;
    padding: 10px 20px;
    right: 10px;
    box-shadow: 0px 0px 15px 0px #F0F0F0;
}

.history-dropdown ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.history-dropdown ul li{
    padding: 5px 0;
}

.history-dropdown-container:hover .history-dropdown {
    display: block;
    width: max-content;
}


.sm-tooltip {
    position: relative;
    border-bottom: 1px dotted black;
}

.sm-tooltip .sm-tooltiptext {
    visibility: hidden;
    width: max-content;

    background-color: #FFF;
    color: gray;
    text-align: center;
    border-radius: 6px;
    padding: 3px 5px;
    border: 1px solid rgba(0,0,0, 0.1);
    box-shadow: 0px 0px 15px 0px #F0F0F0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0px;
}

.top-30{
    top: 30px !important;
}
.right-0 {
    right: 0 !important;
}
.sm-tooltip:hover .sm-tooltiptext {
    visibility: visible;
}