{% extends 'base-admin.html' %}

{% block content-area %}

<div class="container-xxl">
    <h1 class="page-title">{% if user.is_authenticated %}Hello, {{ user.username }}.{% endif %}</h1>
    <p class="text-tiny text-secondary">Here's your google search console dashboard overview.</p>
    <div class="row">

        <div class="col-md-6">

            <div class="widget mb-4">
                <div class="widget-header mb-3">
                    <div class="labels">
                        <h3 class="title text-lato">All Activity</h3>
                        <span class="text-tiny text-secondary">Scraper logs</span>
                    </div>
                </div>
                <div class="widget-content">
                    {% for log in logs %}
                    <div class="d-flex align-items-center text-regular mb-2">
                        <div class="list-icon p-2 bg-light-gray">
                            <i class="fad fa-clipboard-list"></i>
                        </div>
                        <div class="p-2" style="flex-grow: 1;">
                            Property ID: {{ log.property_id }}
                        </div>
                        <div class="p-2" style="flex-grow: 1;">
                            Scraped URLs: {{ log.num_urls }}
                        </div>
                        <div class="p-2">
                            <td>{{ log.created_at|date:"d/m/y, h:ia" }}</td>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>



        </div> <!-- main contents end-->

        <!-- Right Sidebar Contents-->
        <div class="col-md-6">
            <div class="widget mb-4">

                <div class="widget-header">
                    <div class="labels">
                        <h3 class="title text-lato">GSC Data Scraping Overview</h3>
                        <span class="text-tiny text-secondary">Since last 10 days</span>
                    </div>

                    <div class="actions">
                        <a href="{% url 'urls' %}" class="btn btn-small btn-emerald">
                            <i class="fad fa-link"></i> Browse URLs
                        </a>
                    </div>
                </div>

                <div class="widget-content">
                    <div id="analytics" style="height: 200px;"></div>
                </div>

                <script>
                    // Chart in Dashboard version 1
                    var analytics = document.getElementById('analytics');

                    if (analytics) {
                        analyticsElement = echarts.init(analytics);

                        option = {
                            animation: true,
                            legend: {
                                show: true,
                            },
                            tooltip: {
                                trigger: 'axis',
                            },
                            xAxis: [{
                                type: 'category',
                                boundaryGap: false,
                                data: ['August 04', 'August 05', 'August 06', 'August 07', 'August 08', 'August 09', 'August 10', 'August 11', 'August 12', 'August 13'],
                                axisLabel: {
                                    color: '#999999',
                                    fontSize: 10,
                                    padding: [7, 0, 0, 0]
                                },
                                axisLine: {
                                    show: false,
                                },
                                axisTick: {
                                    show: false
                                }
                            }],
                            yAxis: [{
                                type: 'value',
                                show: true,
                                axisLabel: {
                                    color: '#999999',
                                    fontSize: 10
                                },
                                splitLine: {
                                    lineStyle: {
                                        opacity: 0.05
                                    }
                                }
                            }],
                            grid: {
                                left: 0,
                                top: 30,
                                right: 15,
                                bottom: 7,
                                containLabel: true
                            },
                            series: [

                                {
                                    name: 'New URLs',
                                    type: 'line',
                                    smooth: true,
                                    symbol: 'circle',
                                    showSymbol: false,
                                    itemStyle: {
                                        color: '#26C994'
                                    },
                                    data: [5, 50, 30, 160, 450, 230, 300, 100, 80, 200]
                                }
                            ]
                        };

                        // use configuration item and data specified to show chart
                        analyticsElement.setOption(option);

                    }
                </script>

            </div>
        </div>

    </div>


</div>

{% endblock %}