{% extends 'base-admin.html' %}

{% block content-area %}

<div class="container-xxl">
    <h1 class="page-title">{% if user.is_authenticated %}Hello, {{ user.username }}.{% endif %}</h1>
    <p class="text-tiny text-secondary">Here's your google search console dashboard overview.</p>
    <div class="row">

        <div class="col-md-6">

            <div class="widget mb-4">

                <div class="widget-header">
                    <div class="labels">
                        <h3 class="title text-lato">GSC Data Scraping Overview</h3>
                        <span class="text-tiny text-secondary">Since last 10 days</span>
                    </div>

                    <div class="actions">
                        <a href="{% url 'urls' %}" class="btn btn-small btn-emerald">
                            <i class="fad fa-link"></i> Browse URLs
                        </a>
                    </div>
                </div>

                <div class="widget-content">
                    <div id="analytics" style="height: 200px;"></div>
                </div>

                <script>
                    dates = [
                        {% for url in urls_by_date %} '{{ url.day|date:"b d"|title }}', {% endfor %}
                    ];

                    count = [
                        {% for url in urls_by_date %} '{{ url.created_count }}', {% endfor %}
                    ];

                    // Chart in Dashboard version 1
                    var analytics = document.getElementById('analytics');

                    if (analytics) {
                        analyticsElement = echarts.init(analytics);

                        option = {
                            animation: true,
                            legend: {
                                show: true,
                            },
                            tooltip: {
                                trigger: 'axis',
                            },
                            xAxis: [{
                                type: 'category',
                                boundaryGap: false,
                                data: dates,
                                axisLabel: {
                                    color: '#999999',
                                    fontSize: 10,
                                    padding: [7, 0, 0, 0]
                                },
                                axisLine: {
                                    show: false,
                                },
                                axisTick: {
                                    show: false
                                }
                            }],
                            yAxis: [{
                                type: 'value',
                                show: true,
                                axisLabel: {
                                    color: '#999999',
                                    fontSize: 10
                                },
                                splitLine: {
                                    lineStyle: {
                                        opacity: 0.05
                                    }
                                }
                            }],
                            grid: {
                                left: 0,
                                top: 30,
                                right: 15,
                                bottom: 7,
                                containLabel: true
                            },
                            series: [

                                {
                                    name: 'New URLs',
                                    type: 'line',
                                    smooth: true,
                                    symbol: 'circle',
                                    showSymbol: false,
                                    itemStyle: {
                                        color: '#26C994'
                                    },
                                    data: count
                                }
                            ]
                        };

                        // use configuration item and data specified to show chart
                        analyticsElement.setOption(option);

                    }
                </script>

            </div>



        </div> <!-- main contents end-->

        <!-- Right Sidebar Contents-->
        <div class="col-md-6">
            <div class="widget mb-4">
                <div class="widget-header mb-3">
                    <div class="labels">
                        <h3 class="title text-lato">Recent Activities</h3>
                        <span class="text-tiny text-secondary">Scraper logs</span>
                    </div>
                    <div class="actions">
                        <a href="{% url 'logs' %}" class="btn btn-small btn-dark">
                            <i class="fad fa-clipboard-list"></i> See all
                        </a>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="table-responsive">
                        <table class="table table-list">

                            <tbody class="list-body text-small text-normal">

                                {% for log in logs %}
                                <tr>
                                    <td>
                                        <div class="list-icon p-2 bg-light-gray">
                                            <i class="fad fa-clipboard-list"></i>
                                        </div>
                                    </td>

                                    <td class="text-emerald"
                                        style="max-width: 180px;overflow: hidden;text-overflow: ellipsis;">
                                        {{ log.property }}</td>
                                    <td>Scraped URLs: {{ log.num_urls }}</td>
                                    <td>Priority: {{ log.scrape_priority }}</td>
                                    <td>
                                        {{ log.created_at|date:"m/d/y, h:ia" }}
                                    </td>


                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                    </div>




                </div>
            </div>


        </div>

    </div>


</div>

{% endblock %}