{% extends 'base-admin.html' %}

{% block content-area %}


    <div class="row">

        <div class="col-lg-12 col-md-12">

            <div class="widget mb-4">

                <div class="widget-header">
                    <div class="labels">
                        <h3 class="title text-lato">Properties</h3>
                        <span class="text-tiny text-secondary">in ascending order.</span>
                    </div>
                    <div class="actions">
                        <button class="btn btn-small btn-emerald" data-bs-target="#propertyModal" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <i class="fad fa-plus-circle"></i> Add property
                        </button>
                    </div>
                </div>

                <div class="widget-content">


                    <div class="table-responsive">
                        <table class="table table-list">

                            <thead class="list-header">
                                <tr>
                                    <th><span>#</span></th>

                                    <th><span>Domain/URL Prefix</span></th>
                                    <th><span>Scrape Priority</span></th>
                                    <th><span>Last Scrape</span></th>
                                    <th><span>Registered</span></th>
                                    <th><span>Actions</span></th>
                                </tr>
                            </thead>

                            <tbody class="list-body text-small text-normal">

                                {% for property in properties %}
                                <tr>
                                    <td>
                                        <span class="text-emerald">{{ property.id }}</span>
                                    </td>

                                    <td>
                                        <a href="{% url 'property_urls' property.id %}" class="inherit-color">
                                            {{ property.property }}
                                        </a>
                                    </td>
                                    <td>{{ property.scrape_priority|title }}</td>
                                    <td>{{ property.last_scraped }}</td>
                                    <td>{{ property.created_at|date:"m/d/y, h:ia" }}</td>

                                    <td>
                                        <div class="actions">
                                            <a href="{% url 'property_urls' property.id %}"
                                                class="btn btn-small btn-emerald">
                                                <i class="fad fa-link"></i> URLs
                                            </a>
                                            
                                            <a href="{% url 'property_links' property.id %}"
                                                class="btn btn-small btn-emerald">
                                                <i class="fad fa-external-link-square-alt"></i> Backlinks
                                            </a>
                                            
                                            <a href="{% url 'property_scrape' property.id %}"
                                                class="btn btn-small btn-emerald">
                                                <i class="fad fa-sync-alt"></i> Fetch Now
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock %}