{% extends 'base-admin.html' %}

{% block content-area %}

<div class="container">


    <div class="row">

        <div class="col-lg-12 col-md-12">
            <div class="modal fade" id="propertyModal" aria-hidden="true" aria-labelledby="propertyModalToggleLabel"
                tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Add Property</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Please fill in the form to register a property with GSC dashboard Application.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#propertyModal" data-bs-toggle="modal"
                                data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="widget mb-4">

                <div class="widget-header">
                    <div class="labels">
                        <h3 class="title text-lato">Properties</h3>
                        <span class="text-tiny text-secondary">in ascending order.</span>
                    </div>
                    <div class="actions">
                        <button class="btn btn-small btn-emerald" data-bs-target="#propertyModal" data-bs-toggle="modal"
                            data-bs-dismiss="modal">
                            <i class="fad fa-plus-circle"></i> Add property
                        </button>
                    </div>
                </div>

                <div class="widget-content">

                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <div class="alert alert-success d-flex align-items-center" role="alert">
                            <i class="fad fa-check-circle"></i>
                            <div>
                                &nbsp;{{ message }}
                            </div>
                        </div>
                        {% endfor %}
                    </ul>
                    {% endif %}


                    <div class="table-responsive">
                        <table class="table table-list">

                            <thead class="list-header">
                                <tr>
                                    <th><span>#</span></th>
                                    <th><span>Name</span></th>
                                    <th><span>Domain/URL Prefix</span></th>
                                    <th><span>Scrape Priority</span></th>
                                    <th><span>Last Scrape</span></th>
                                    <th><span>Created At</span></th>
                                    <th><span>Actions</span></th>
                                </tr>
                            </thead>

                            <tbody class="list-body text-small text-normal">

                                {% for property in properties %}
                                <tr>
                                    <td>
                                        <span class="text-emerald">{{ property.id }}</span>
                                    </td>

                                    <td>{{ property.name }}</td>
                                    <td>{{ property.property }}</td>
                                    <td>{{ property.scrape_priority|title }}</td>
                                    <td>{{ property.last_scraped }}</td>
                                    <td>{{ property.created_at|date:"d/m/y, h:ia" }}</td>

                                    <td>
                                        <div class="actions">
                                            <a href="{% url 'property_urls' property.id %}"
                                                class="btn btn-small btn-emerald">
                                                <i class="fad fa-link" aria-hidden="true"></i> URLs
                                            </a>
                                            <a href="{% url 'property_scrape' property.id %}"
                                                class="btn btn-small btn-emerald">
                                                <i class="fad fa-cloud-download" aria-hidden="true"></i> Fetch Now
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>



{% endblock %}